.mat-mdc-icon-button {
  display: inline-flex;
  align-items: center;
  width: 1.5rem; // 32px
  height: 1.5rem; // 32px
  line-height: 1.5rem;
  padding: 0;
  vertical-align: middle;
}

.color-light {
  color: var(--colors-light-outline-variant);
}
