.mat-mdc-icon-button {
  display: inline-flex;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  vertical-align: middle;

  mat-icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }
}

.color-light {
  color: var(--colors-light-outline-variant);
}
