<div class="p-x-24 p-y-32">
  <div class="grid g-template-columns-2">
    <div class="mat-subtitle-1 center"><b>Text colors</b></div>
    <div class="mat-subtitle-1 center"><b>Background colors</b></div>

    <div class="flex-justify-between p-x-16 p-y-16 color-primary">
      <span>.color-primary</span>
      <span>{{isDarkMode ? 'rgba(255, 255, 255, .87)' : 'rgba(0, 0, 0, .87)'}}</span>
    </div>
    <div class="flex-justify-between p-x-16 p-y-16 bg-primary">
      <span>.bg-primary</span>
      <span>{{isDarkMode ? '#1E1E1E' : '#f5f5f5'}}</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 color-secondary">
      <span>.color-secondary</span>
      <span>{{isDarkMode ? 'rgba(255, 255, 255, .6)' : 'rgba(0, 0, 0, .6)'}}</span>
    </div>
    <div class="flex-justify-between p-x-16 p-y-16 bg-secondary">
      <span>.bg-secondary</span>
      <span>{{isDarkMode ? 'rgba(255, 255, 255, .6)' : 'rgba(0, 0, 0, .6)'}}</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 color-disabled">
      <span>.color-disabled</span>
      <span>{{isDarkMode ? 'rgba(255, 255, 255, .4)' : 'rgba(0, 0, 0, .4)'}}</span>
    </div>
    <div class="flex-justify-between p-x-16 p-y-16 bg-disabled">
      <span>.bg-disabled</span>
      <span>{{isDarkMode ? 'rgba(255, 255, 255, .4)' : 'rgba(0, 0, 0, .4)'}}</span>
    </div>
  </div>

  <br>
  <br>

  <div class="grid g-template-columns-2">
    <div class="flex-justify-between p-x-16 p-y-16 color-accent-primary">
      <span>500</span>
      <span>.color-accent-primary</span>
      <span>{{isDarkMode ? '#5068ff' : '#1633FF'}}</span>
    </div>
    <div class="flex-justify-between p-x-16 p-y-16 bg-accent-primary">
      <span>500</span>
      <span>.bg-accent-primary</span>
      <span>{{isDarkMode ? '#5068ff' : '#1633FF'}}</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 color-accent-primary-light">
      <span>50</span>
      <span>.color-accent-primary-light</span>
      <span>{{isDarkMode ? '#eaedff' : '#eaedff'}}</span>
    </div>
    <div class="flex-justify-between p-x-16 p-y-16 bg-accent-primary-light">
      <span>50</span>
      <span>.bg-accent-primary-light</span>
      <span>{{isDarkMode ? '#eaedff' : '#eaedff'}}</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 color-accent-primary-dark">
      <span>700</span>
      <span>.color-accent-primary-dark</span>
      <span>{{isDarkMode ? '#4055ff' : '#0B1CB7'}}</span>
    </div>
    <div class="flex-justify-between p-x-16 p-y-16 bg-accent-primary-dark">
      <span>700</span>
      <span>.bg-accent-primary-dark</span>
      <span>{{isDarkMode ? '#4055ff' : '#0B1CB7'}}</span>
    </div>
  </div>

  <br>
  <br>

  <div class="grid g-template-columns-2">
    <div class="flex-justify-between p-x-16 p-y-16 color-accent-secondary">
      <span>200</span>
      <span>.color-accent-secondary</span>
      <span>#03DAC5</span>
    </div>
    <div class="flex-justify-between p-x-16 p-y-16 bg-accent-secondary">
      <span>200</span>
      <span>.bg-accent-secondary</span>
      <span>#03DAC5</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 color-accent-secondary-light">
      <span>50</span>
      <span>.color-accent-secondary-light</span>
      <span>#C8FFF4</span>
    </div>
    <div class="flex-justify-between p-x-16 p-y-16 bg-accent-secondary-light">
      <span>50</span>
      <span>.bg-accent-secondary-light</span>
      <span>#C8FFF4</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 color-accent-secondary-dark">
      <span>700</span>
      <span>.color-accent-secondary-dark</span>
      <span>#018786</span>
    </div>
    <div class="flex-justify-between p-x-16 p-y-16 bg-accent-secondary-dark">
      <span>700</span>
      <span>.bg-accent-secondary-dark</span>
      <span>#018786</span>
    </div>
  </div>

  <br>
  <br>

  <div class="grid g-template-columns-2">
    <div class="flex-justify-between p-x-16 p-y-16 color-warn">
      <span>500</span>
      <span>.color-warn</span>
      <span>{{isDarkMode ? '#fb735e' : '#f9342a'}}</span>
    </div>
    <div class="flex-justify-between p-x-16 p-y-16 bg-warn">
      <span>500</span>
      <span>.bg-warn</span>
      <span>{{isDarkMode ? '#fb735e' : '#f9342a'}}</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 color-warn-light">
      <span>100</span>
      <span>.color-warn-light</span>
      <span>{{isDarkMode ? '#fed5cf' : '#fdc2bf'}}</span>
    </div>
    <div class="flex-justify-between p-x-16 p-y-16 bg-warn-light">
      <span>100</span>
      <span>.bg-warn-light</span>
      <span>{{isDarkMode ? '#fed5cf' : '#fdc2bf'}}</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 color-warn-dark">
      <span>900</span>
      <span>.color-warn-dark</span>
      <span>{{isDarkMode ? '#f84331' : '#f5150f'}}</span>
    </div>
    <div class="flex-justify-between p-x-16 p-y-16 bg-warn-dark">
      <span>900</span>
      <span>.bg-warn-dark</span>
      <span>{{isDarkMode ? '#f84331' : '#f5150f'}}</span>
    </div>
  </div>

  <br>
  <br>

  <div class="mat-subtitle-1 center"><b>Text on accent background</b></div>

  <div class="grid g-template-columns-2">
    <div class="flex-justify-between g-column-start-1 g-column-end-3 p-x-16 p-y-16 on-primary-accent">
      <span>500</span>
      <span>.on-primary-accent</span>
      <span>{{isDarkMode ? '#5068ff' : '#1633FF'}}</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 on-primary-accent-light">
      <span>50</span>
      <span>.on-primary-accent-light</span>
      <span>{{isDarkMode ? '#EAEDFF' : '#EAEDFF'}}</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 on-primary-accent-dark">
      <span>700</span>
      <span>.on-primary-accent-dark</span>
      <span>{{isDarkMode ? '#4055ff' : '#0B1CB7'}}</span>
    </div>
  </div>

  <br>
  <br>

  <div class="grid g-template-columns-2">
    <div class="flex-justify-between g-column-start-1 g-column-end-3 p-x-16 p-y-16 on-secondary-accent">
      <span>200</span>
      <span>.on-secondary-accent</span>
      <span>#03DAC5</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 on-secondary-accent-light">
      <span>50</span>
      <span>.on-secondary-accent-light</span>
      <span>#C8FFF4</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 on-secondary-accent-dark">
      <span>500</span>
      <span>.on-secondary-accent-dark</span>
      <span>#018786</span>
    </div>
  </div>

  <br>
  <br>

  <div class="grid g-template-columns-2">
    <div class="flex-justify-between g-column-start-1 g-column-end-3 p-x-16 p-y-16 on-warn-accent">
      <span>500</span>
      <span>.on-warn-accent</span>
      <span>{{isDarkMode ? '#fb735e' : '#f9342a'}}</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 on-warn-accent-light">
      <span>100</span>
      <span>.on-warn-accent-light</span>
      <span>{{isDarkMode ? '#fed5cf' : '#fdc2bf'}}</span>
    </div>

    <div class="flex-justify-between p-x-16 p-y-16 on-warn-accent-dark">
      <span>900</span>
      <span>.on-warn-accent-dark</span>
      <span>{{isDarkMode ? '#f84331' : '#f5150f'}}</span>
    </div>
  </div>

  <br>
  <br>

  <div class="mat-subtitle-1 center"><b>Buttons</b></div>

  <button mat-button>Basic button</button>
  <button mat-button color="primary" class="m-l-16">Primary button</button>
  <button mat-button color="accent" class="m-l-16">Accent button</button>
  <button mat-button color="warn" class="m-l-16">Warn button</button>

  <br>
  <br>

  <button mat-stroked-button>Basic button</button>
  <button mat-stroked-button color="primary" class="m-l-16">Primary button</button>
  <button mat-stroked-button color="accent" class="m-l-16">Accent button</button>
  <button mat-stroked-button color="warn" class="m-l-16">Warn button</button>

  <br>
  <br>

  <button mat-flat-button>Basic button</button>
  <button mat-flat-button color="primary" class="m-l-16">Primary button</button>
  <button mat-flat-button color="accent" class="m-l-16">Accent button</button>
  <button mat-flat-button color="warn" class="m-l-16">Warn button</button>

  <br>
  <br>

  <button mat-raised-button>Basic button</button>
  <button mat-raised-button color="primary" class="m-l-16">Primary button</button>
  <button mat-raised-button color="accent" class="m-l-16">Accent button</button>
  <button mat-raised-button color="warn" class="m-l-16">Warn button</button>

  <br>
  <br>
</div>
