<mat-card>
  <mat-card-header>
    <h3 class="mat-headline-6">Basic dialog</h3>
  </mat-card-header>

  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Demo">
        <div class="demo-container">
          <app-button-filled (onClick)="openDialog()">
            Open dialog
          </app-button-filled>

          @if (dialogResult) {
            <div class="result">
              Dialog result: {{ dialogResult | json }}
            </div>
          }
        </div>
      </mat-tab>

      <mat-tab label="html">
        <pre><code>{{ templateCode }}</code></pre>
      </mat-tab>

      <mat-tab label="ts">
        <pre><code>{{ componentCode }}</code></pre>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
