<div class="p-x-24 p-y-32">
  <div class="mat-h1 m-l-10"><b>Title 1 (.mat-h1)</b></div>
  <div class="mat-headline-5"><b>Headline-5 (.mat-headline-5)</b></div>
  <br>
  <br>
  <div class="mat-h2"><b>Title 2 (.mat-h2)</b></div>
  <div class="mat-headline-6"><b>Headline-6 (.mat-headline-6)</b></div>
  <br>
  <br>
  <div class="mat-h3"><b>Title 3 (.mat-h3)</b></div>
  <div class="mat-subtitle-1"><b>Subtitle-1 (.mat-subtitle-1)</b></div>
  <br>
  <br>
  <div class="mat-h4">Title 4 (.mat-h4)</div>
  <div class="mat-body-1">Body-1 (.mat-body-1)</div>
  <br>
  <br>
  <div class="mat-body">Body (.mat-body)</div>
  <div class="mat-body-2">Body-2 (.mat-body-2)</div>
  <br>
  <br>
  <div class="mat-caption">Caption (.mat-caption)</div>
  <div class="mat-small">Small (.mat-small)</div>
  <br>
  <br>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, repellat? Molestias necessitatibus quos atque earum quae nesciunt voluptatibus nemo impedit ipsam harum dignissimos dolorum veritatis similique quam ea nisi, possimus reprehenderit.
  </p>
  <br>
  <br>

  <mat-form-field appearance="outline">
    <mat-label>Teléfono</mat-label>
    <input matInput value="text">
    <mat-hint class="color-warn">Hint</mat-hint>
  </mat-form-field>

  <mat-form-field class="m-l-16" appearance="outline" color="accent">
    <mat-label>Teléfono</mat-label>
    <input matInput value="text">
    <mat-hint class="color-warn">Hint</mat-hint>
  </mat-form-field>

  <br>
  <br>

  <button mat-flat-button>Basic button</button>
  <button mat-flat-button color="primary" class="m-l-16">Primary button</button>
  <button mat-flat-button color="accent" class="m-l-16">Accent button</button>
  <button mat-flat-button color="warn" class="m-l-16">Warn button</button>
</div>
