<div class="p-x-24 p-y-32">
  <air-button
    class="m-l-8"
    theme="primary"
    type="primary"
    size="l"
    [data]="{ text: 'Primary button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <air-button
    class="m-l-8"
    theme="primary"
    type="primary"
    size="m"
    [data]="{ text: 'Primary button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <air-button
    class="m-l-8"
    theme="primary"
    type="primary"
    size="s"
    [data]="{ text: 'Primary button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <air-button
    class="m-l-8"
    theme="neutral"
    type="primary"
    size="s"
    [data]="{ text: 'Neutral button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <br>
  <br>

  <air-button
    theme="primary"
    type="secondary"
    size="m"
    [data]="{ text: 'Primary button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <air-button
    class="m-l-8"
    theme="neutral"
    type="secondary"
    size="m"
    [data]="{ text: 'Neutral button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <br>
  <br>

  <air-button
    theme="primary"
    type="tertiary"
    size="m"
    [data]="{ text: 'Primary button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <air-button
    class="m-l-8"
    theme="neutral"
    type="tertiary"
    size="m"
    [data]="{ text: 'Neutral button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <br>
  <br>

  <air-button
    theme="primary"
    type="tonal"
    size="m"
    [data]="{ text: 'Primary button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <air-button
    class="m-l-8"
    theme="neutral"
    type="tonal"
    size="m"
    [data]="{ text: 'Neutral button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <br>
  <br>

  <air-button
    theme="primary"
    type="danger"
    size="m"
    [data]="{ text: 'Danger button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <air-button
    class="m-l-8"
    theme="neutral"
    type="danger"
    size="m"
    [data]="{ text: 'Danger button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <br>
  <br>

  <air-button
    theme="primary"
    type="dangerText"
    size="m"
    [data]="{ text: 'DangerText button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <air-button
    class="m-l-8"
    theme="neutral"
    type="dangerText"
    size="m"
    [data]="{ text: 'DangerText button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </air-button>

  <br>
  <br>

  <air-icon-button
    theme="primary"
    type="primary"
    size="l"
    [icon]="icons.layers"
    [isLoading]="true">
  </air-icon-button>

  <air-icon-button
    class="m-l-8"
    theme="primary"
    type="primary"
    size="m"
    [icon]="icons.layers">
  </air-icon-button>

  <air-icon-button
    class="m-l-8"
    theme="primary"
    type="primary"
    size="s"
    [icon]="icons.layers">
  </air-icon-button>

  <br>
  <br>

  <air-icon-button
    theme="primary"
    type="secondary"
    size="l"
    [icon]="icons.layers">
  </air-icon-button>

  <air-icon-button
    class="m-l-8"
    theme="primary"
    type="tertiary"
    size="l"
    [icon]="icons.layers">
  </air-icon-button>

  <air-icon-button
    class="m-l-8"
    theme="primary"
    type="danger"
    size="l"
    [icon]="icons.layers">
  </air-icon-button>

  <air-icon-button
    class="m-l-8"
    theme="primary"
    type="dangerText"
    size="l"
    [icon]="icons.layers">
  </air-icon-button>

  <br>
  <br>

  <air-icon-button
    theme="neutral"
    type="secondary"
    size="l"
    [icon]="icons.layers">
  </air-icon-button>

  <air-icon-button
    class="m-l-8"
    theme="neutral"
    type="tertiary"
    size="l"
    [icon]="icons.layers">
  </air-icon-button>

  <air-icon-button
    class="m-l-8"
    theme="neutral"
    type="danger"
    size="l"
    [icon]="icons.layers">
  </air-icon-button>

  <air-icon-button
    class="m-l-8"
    theme="neutral"
    type="dangerText"
    size="l"
    [icon]="icons.layers">
  </air-icon-button>

  <br>
  <br>

  <app-banner [style]="'info'">
    <mat-icon class="size-24" [svgIcon]="'info'" bannerIcon>info</mat-icon>
    <span class="mat-body-1" bannerTitle>Title</span>
    <span class="mat-body-2" bannerText>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>

    <air-icon-button
      theme="primary"
      type="tertiary"
      size="s"
      [icon]="'cross'"
      bannerClose>
    </air-icon-button>

    <air-button
      theme="primary"
      type="tertiary"
      size="m"
      [data]="{ text: 'Button', iconStart: icons.layers, iconEnd: icons.chevronRight }"
      bannerButton>
    </air-button>

    <air-button
      theme="primary"
      type="tertiary"
      size="m"
      [data]="{ text: 'Button', iconStart: icons.layers, iconEnd: icons.chevronRight }"
      bannerButton>
    </air-button>
  </app-banner>

  <br>
  <br>

  <app-form-field-input [data]="dataInput" [form]="form"></app-form-field-input>

  <h1 class="ds-font-headlines-h1"><b>Headline-h1</b></h1>
  <h2 class="ds-font-headlines-h2"><b>Headline-h2</b></h2>
  <h3 class="ds-font-headlines-h3"><b>Headline-h3</b></h3>
</div>
