<div class="p-x-24 p-y-32">
  <app-button
    class="m-l-8"
    [theme]="'primary'"
    [type]="'primary'"
    [size]="'large'"
    [data]="{ text: 'Primary button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <app-button
    class="m-l-8"
    [theme]="'primary'"
    [type]="'primary'"
    [size]="'medium'"
    [data]="{ text: 'Primary button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <app-button
    class="m-l-8"
    [theme]="'primary'"
    [type]="'primary'"
    [size]="'small'"
    [data]="{ text: 'Primary button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <app-button
    class="m-l-8"
    [theme]="'neutral'"
    [type]="'primary'"
    [size]="'small'"
    [data]="{ text: 'Neutral button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <br>
  <br>

  <app-button
    [theme]="'primary'"
    [type]="'secondary'"
    [size]="'medium'"
    [data]="{ text: 'Primary button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <app-button
    class="m-l-8"
    [theme]="'neutral'"
    [type]="'secondary'"
    [size]="'medium'"
    [data]="{ text: 'Neutral button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <br>
  <br>

  <app-button
    [theme]="'primary'"
    [type]="'tertiary'"
    [size]="'medium'"
    [data]="{ text: 'Primary button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <app-button
    class="m-l-8"
    [theme]="'neutral'"
    [type]="'tertiary'"
    [size]="'medium'"
    [data]="{ text: 'Neutral button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <br>
  <br>

  <app-button
    [theme]="'primary'"
    [type]="'tonal'"
    [size]="'medium'"
    [data]="{ text: 'Primary button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <app-button
    class="m-l-8"
    [theme]="'neutral'"
    [type]="'tonal'"
    [size]="'medium'"
    [data]="{ text: 'Neutral button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <br>
  <br>

  <app-button
    [theme]="'primary'"
    [type]="'danger'"
    [size]="'medium'"
    [data]="{ text: 'Danger button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <app-button
    class="m-l-8"
    [theme]="'neutral'"
    [type]="'danger'"
    [size]="'medium'"
    [data]="{ text: 'Danger button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <br>
  <br>

  <app-button
    [theme]="'primary'"
    [type]="'dangerText'"
    [size]="'medium'"
    [data]="{ text: 'DangerText button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <app-button
    class="m-l-8"
    [theme]="'neutral'"
    [type]="'dangerText'"
    [size]="'medium'"
    [data]="{ text: 'DangerText button', iconStart: icons.layers, iconEnd: icons.chevronRight }" (buttonClick)="openModal()">
  </app-button>

  <br>
  <br>

  <app-icon-button
    [theme]="'primary'"
    [type]="'primary'"
    [size]="'large'"
    [icon]="icons.layers"
    [isLoading]="true">
  </app-icon-button>

  <app-icon-button
    class="m-l-8"
    [theme]="'primary'"
    [type]="'primary'"
    [size]="'medium'"
    [icon]="icons.layers">
  </app-icon-button>

  <app-icon-button
    class="m-l-8"
    [theme]="'primary'"
    [type]="'primary'"
    [size]="'small'"
    [icon]="icons.layers">
  </app-icon-button>

  <br>
  <br>

  <app-icon-button
    [theme]="'primary'"
    [type]="'secondary'"
    [size]="'large'"
    [icon]="icons.layers">
  </app-icon-button>

  <app-icon-button
    class="m-l-8"
    [theme]="'primary'"
    [type]="'tertiary'"
    [size]="'large'"
    [icon]="icons.layers">
  </app-icon-button>

  <app-icon-button
    class="m-l-8"
    [theme]="'primary'"
    [type]="'danger'"
    [size]="'large'"
    [icon]="icons.layers">
  </app-icon-button>

  <app-icon-button
    class="m-l-8"
    [theme]="'primary'"
    [type]="'dangerText'"
    [size]="'large'"
    [icon]="icons.layers">
  </app-icon-button>

  <br>
  <br>

  <app-icon-button
    [theme]="'neutral'"
    [type]="'secondary'"
    [size]="'large'"
    [icon]="icons.layers">
  </app-icon-button>

  <app-icon-button
    class="m-l-8"
    [theme]="'neutral'"
    [type]="'tertiary'"
    [size]="'large'"
    [icon]="icons.layers">
  </app-icon-button>

  <app-icon-button
    class="m-l-8"
    [theme]="'neutral'"
    [type]="'danger'"
    [size]="'large'"
    [icon]="icons.layers">
  </app-icon-button>

  <app-icon-button
    class="m-l-8"
    [theme]="'neutral'"
    [type]="'dangerText'"
    [size]="'large'"
    [icon]="icons.layers">
  </app-icon-button>

  <br>
  <br>

  <app-banner [style]="'info'">
    <mat-icon class="size-24" [svgIcon]="'info'" bannerIcon>info</mat-icon>
    <span class="mat-body-1" bannerTitle>Title</span>
    <span class="mat-body-2" bannerText>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>

    <app-icon-button
      [theme]="'primary'"
      [type]="'tertiary'"
      [size]="'small'"
      [icon]="'cross'"
      bannerClose>
    </app-icon-button>

    <app-button
      [theme]="'primary'"
      [type]="'tertiary'"
      [size]="'medium'"
      [data]="{ text: 'Button', iconStart: icons.layers, iconEnd: icons.chevronRight }"
      bannerButton>
    </app-button>

    <app-button
      [theme]="'primary'"
      [type]="'tertiary'"
      [size]="'medium'"
      [data]="{ text: 'Button', iconStart: icons.layers, iconEnd: icons.chevronRight }"
      bannerButton>
    </app-button>
  </app-banner>

  <br>
  <br>

  <app-form-field-input [data]="dataInput" [form]="form"></app-form-field-input>

  <h1 class="ds-font-headlines-h1"><b>Headline-h1</b></h1>
  <h2 class="ds-font-headlines-h2"><b>Headline-h2</b></h2>
  <h3 class="ds-font-headlines-h3"><b>Headline-h3</b></h3>
</div>
