.mat-typography {
  .ds-font-headlines-h1 {
    font: var(--ds-font-headlines-h1);
  }

  .ds-font-headlines-h2 {
    font: var(--ds-font-headlines-h2);
  }

  .ds-font-headlines-h3 {
    font: var(--ds-font-headlines-h3);
  }
}
