<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Demo">
        <div class="demo-container mat-typography">
          <app-banner [style]="style">
            <mat-icon class="size-24" [svgIcon]="'info'" bannerIcon>info</mat-icon>
            <span class="mat-body-1" bannerTitle>Title</span>
            <span class="mat-body-2" bannerText>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>

            <air-button
              theme="primary"
              type="tertiary"
              size="s"
              [data]="{ text: 'Button' }"
              bannerButton>
            </air-button>

            <air-button
              theme="primary"
              type="tertiary"
              size="s"
              [data]="{ text: 'Button' }"
              bannerButton>
            </air-button>
          </app-banner>

        </div>
      </mat-tab>

      <mat-tab label="html">
        <pre><code>{{ templateCode }}</code></pre>
      </mat-tab>

      <mat-tab label="ts">
        <pre><code>{{ componentCode }}</code></pre>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
