:host {
  display: inline-grid;
  justify-content: flex-start;
  grid-template-columns: auto auto;
  overflow-x: auto;
}

.variants {
  border: 1px dashed #9747FF;
  border-radius: 5px;
  max-width: 100%;

  &__top {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    padding: 0 24px;
    margin-bottom: 16px;

    &-column {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }

    &-row {
      display: grid;
      column-gap: 60px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr minmax(40px, 40px) minmax(40px, 40px);

      app-docs-card-tag-bracket {
        &:first-of-type {
          grid-column-start: 7;
          grid-column-end: 8;
        }

        &:last-of-type {
          grid-column-start: 8;
          grid-column-end: 9;
        }
      }

    }
  }

  &__left {
    display: grid;
    row-gap: 24px;
    padding: 24px 0;
    margin-right: 24px;

    &-column {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 8px;
    }

    &-row {
      position: relative;
      display: grid;
      row-gap: 24px;

      app-docs-card-tag-bracket {
        height: 32px;
      }
    }
  }

  &__content {
    display: flex;
    height: 100%;
    padding: 24px;
  }

  &__column {
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(auto-fill, 32px);
    row-gap: 24px;
  }

  &__group {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr minmax(40px, 40px) minmax(40px, 40px);
    column-gap: 60px;
    row-gap: 60px;

    air-badge {
      margin: 0 auto;
    }
  }
}
