<div class="p-x-24 p-y-32">
  <h2 class="mat-subtitle-1">Icons/Action</h2>

  <mat-card class="p-x-24 p-y-24 m-b-24">
    <div class="flex-wrap">
      <mat-icon class="size-24" svgIcon="check-circle"></mat-icon>
      <mat-icon class="size-24" svgIcon="action-menu"></mat-icon>
      <mat-icon class="size-24" svgIcon="menu"></mat-icon>
      <mat-icon class="size-24" svgIcon="apps-add"></mat-icon>
      <mat-icon class="size-24" svgIcon="apps-delete"></mat-icon>
      <mat-icon class="size-24" svgIcon="apps-sort"></mat-icon>
      <mat-icon class="size-24" svgIcon="apps"></mat-icon>
      <mat-icon class="size-24" svgIcon="more-horizontal"></mat-icon>
      <mat-icon class="size-24" svgIcon="more-vertical"></mat-icon>
      <mat-icon class="size-24" svgIcon="ban"></mat-icon>
      <mat-icon class="size-24" svgIcon="bell-ring"></mat-icon>
      <mat-icon class="size-24" svgIcon="bell"></mat-icon>
      <mat-icon class="size-24" svgIcon="dollar"></mat-icon>
      <mat-icon class="size-24" svgIcon="download"></mat-icon>
      <mat-icon class="size-24" svgIcon="trash"></mat-icon>
      <mat-icon class="size-24" svgIcon="add"></mat-icon>
      <mat-icon class="size-24" svgIcon="calculator"></mat-icon>
      <mat-icon class="size-24" svgIcon="calendar"></mat-icon>
      <mat-icon class="size-24" svgIcon="cursor"></mat-icon>
      <mat-icon class="size-24" svgIcon="earnings"></mat-icon>
      <mat-icon class="size-24" svgIcon="euro"></mat-icon>
      <mat-icon class="size-24" svgIcon="exclamation"></mat-icon>
      <mat-icon class="size-24" svgIcon="eye-crossed"></mat-icon>
      <mat-icon class="size-24" svgIcon="eye"></mat-icon>
      <mat-icon class="size-24" svgIcon="filter"></mat-icon>
      <mat-icon class="size-24" svgIcon="following"></mat-icon>
      <mat-icon class="size-24" svgIcon="hastag"></mat-icon>
      <mat-icon class="size-24" svgIcon="heart-arrow"></mat-icon>
      <mat-icon class="size-24" svgIcon="heart"></mat-icon>
      <mat-icon class="size-24" svgIcon="minus-circle"></mat-icon>
      <mat-icon class="size-24" svgIcon="user-add"></mat-icon>
      <mat-icon class="size-24" svgIcon="user-delete"></mat-icon>
      <mat-icon class="size-24" svgIcon="user-remove"></mat-icon>
      <mat-icon class="size-24" svgIcon="user-time"></mat-icon>
      <mat-icon class="size-24" svgIcon="user"></mat-icon>
      <mat-icon class="size-24" svgIcon="hourglass-end"></mat-icon>
      <mat-icon class="size-24" svgIcon="hourglass"></mat-icon>
      <mat-icon class="size-24" svgIcon="incognito"></mat-icon>
      <mat-icon class="size-24" svgIcon="infinity"></mat-icon>
      <mat-icon class="size-24" svgIcon="info"></mat-icon>
      <mat-icon class="size-24" svgIcon="interrogation"></mat-icon>
      <mat-icon class="size-24" svgIcon="link"></mat-icon>
      <mat-icon class="size-24" svgIcon="lock-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="lock"></mat-icon>
      <mat-icon class="size-24" svgIcon="navigation"></mat-icon>
      <mat-icon class="size-24" svgIcon="paper-planer"></mat-icon>
      <mat-icon class="size-24" svgIcon="pharmacy"></mat-icon>
      <mat-icon class="size-24" svgIcon="recycle"></mat-icon>
      <mat-icon class="size-24" svgIcon="rotate-right"></mat-icon>
      <mat-icon class="size-24" svgIcon="settings"></mat-icon>
      <mat-icon class="size-24" svgIcon="share"></mat-icon>
      <mat-icon class="size-24" svgIcon="spinner-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="thumbs-down"></mat-icon>
      <mat-icon class="size-24" svgIcon="thumbs-up"></mat-icon>
      <mat-icon class="size-24" svgIcon="transform"></mat-icon>
      <mat-icon class="size-24" svgIcon="link-autoservicio"></mat-icon>
      <mat-icon class="size-24" svgIcon="move"></mat-icon>
      <mat-icon class="size-24" svgIcon="nfc"></mat-icon>
      <mat-icon class="size-24" svgIcon="unlock"></mat-icon>
      <mat-icon class="size-24" svgIcon="upload"></mat-icon>
      <mat-icon class="size-24" svgIcon="zoom-in"></mat-icon>
      <mat-icon class="size-24" svgIcon="zoom-out"></mat-icon>
    </div>
  </mat-card>

  <h2 class="mat-subtitle-1">Icons/Image</h2>

  <mat-card class="p-x-24 p-y-24 m-b-24">
    <div class="flex-wrap">
      <mat-icon class="size-24" svgIcon="camera"></mat-icon>
      <mat-icon class="size-24" svgIcon="compress-arrow"></mat-icon>
      <mat-icon class="size-24" svgIcon="compress"></mat-icon>
      <mat-icon class="size-24" svgIcon="dropper"></mat-icon>
      <mat-icon class="size-24" svgIcon="expand"></mat-icon>
      <mat-icon class="size-24" svgIcon="file-ai"></mat-icon>
      <mat-icon class="size-24" svgIcon="file-eps"></mat-icon>
      <mat-icon class="size-24" svgIcon="file-gif"></mat-icon>
      <mat-icon class="size-24" svgIcon="file-jpg"></mat-icon>
      <mat-icon class="size-24" svgIcon="file-psd"></mat-icon>
      <mat-icon class="size-24" svgIcon="fill"></mat-icon>
      <mat-icon class="size-24" svgIcon="film"></mat-icon>
      <mat-icon class="size-24" svgIcon="flip-horizontal"></mat-icon>
      <mat-icon class="size-24" svgIcon="gallery"></mat-icon>
      <mat-icon class="size-24" svgIcon="magic-wand"></mat-icon>
      <mat-icon class="size-24" svgIcon="mode-landscape"></mat-icon>
      <mat-icon class="size-24" svgIcon="mode-portrait"></mat-icon>
      <mat-icon class="size-24" svgIcon="opacity"></mat-icon>
      <mat-icon class="size-24" svgIcon="paint-brush"></mat-icon>
      <mat-icon class="size-24" svgIcon="palette"></mat-icon>
      <mat-icon class="size-24" svgIcon="picture"></mat-icon>
      <mat-icon class="size-24" svgIcon="portrait"></mat-icon>
      <mat-icon class="size-24" svgIcon="reflect"></mat-icon>
      <mat-icon class="size-24" svgIcon="resize"></mat-icon>
      <mat-icon class="size-24" svgIcon="resources"></mat-icon>
      <mat-icon class="size-24" svgIcon="stapler"></mat-icon>
      <mat-icon class="size-24" svgIcon="star-octogram"></mat-icon>
      <mat-icon class="size-24" svgIcon="star"></mat-icon>
      <mat-icon class="size-24" svgIcon="vector"></mat-icon>
    </div>
  </mat-card>

  <h2 class="mat-subtitle-1">Icons/Editor</h2>

  <mat-card class="p-x-24 p-y-24 m-b-24">
    <div class="flex-wrap">
      <mat-icon class="size-24" svgIcon="align-center"></mat-icon>
      <mat-icon class="size-24" svgIcon="align-justify"></mat-icon>
      <mat-icon class="size-24" svgIcon="align-left"></mat-icon>
      <mat-icon class="size-24" svgIcon="align-right"></mat-icon>
      <mat-icon class="size-24" svgIcon="asterik"></mat-icon>
      <mat-icon class="size-24" svgIcon="bold"></mat-icon>
      <mat-icon class="size-24" svgIcon="book-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="book"></mat-icon>
      <mat-icon class="size-24" svgIcon="bookmark"></mat-icon>
      <mat-icon class="size-24" svgIcon="chart-connected"></mat-icon>
      <mat-icon class="size-24" svgIcon="chart-histogram"></mat-icon>
      <mat-icon class="size-24" svgIcon="chart-network"></mat-icon>
      <mat-icon class="size-24" svgIcon="chart-pie"></mat-icon>
      <mat-icon class="size-24" svgIcon="chart-set-theory"></mat-icon>
      <mat-icon class="size-24" svgIcon="chart-tree"></mat-icon>
      <mat-icon class="size-24" svgIcon="chat-arrow-down"></mat-icon>
      <mat-icon class="size-24" svgIcon="chat-arrow-grow"></mat-icon>
      <mat-icon class="size-24" svgIcon="clip"></mat-icon>
      <mat-icon class="size-24" svgIcon="pie-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="text-check"></mat-icon>
      <mat-icon class="size-24" svgIcon="copy-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="copy"></mat-icon>
      <mat-icon class="size-24" svgIcon="copyright"></mat-icon>
      <mat-icon class="size-24" svgIcon="cursor-text"></mat-icon>
      <mat-icon class="size-24" svgIcon="delete"></mat-icon>
      <mat-icon class="size-24" svgIcon="disk"></mat-icon>
      <mat-icon class="size-24" svgIcon="doctor"></mat-icon>
      <mat-icon class="size-24" svgIcon="document-signed"></mat-icon>
      <mat-icon class="size-24" svgIcon="document"></mat-icon>
      <mat-icon class="size-24" svgIcon="duplicate"></mat-icon>
      <mat-icon class="size-24" svgIcon="edit-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="edit"></mat-icon>
      <mat-icon class="size-24" svgIcon="file-add"></mat-icon>
      <mat-icon class="size-24" svgIcon="file-check"></mat-icon>
      <mat-icon class="size-24" svgIcon="file-delete"></mat-icon>
      <mat-icon class="size-24" svgIcon="file-music"></mat-icon>
      <mat-icon class="size-24" svgIcon="file"></mat-icon>
      <mat-icon class="size-24" svgIcon="folder-add"></mat-icon>
      <mat-icon class="size-24" svgIcon="text-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="text"></mat-icon>
      <mat-icon class="size-24" svgIcon="document-detail"></mat-icon>
      <mat-icon class="size-24" svgIcon="folder"></mat-icon>
      <mat-icon class="size-24" svgIcon="form"></mat-icon>
      <mat-icon class="size-24" svgIcon="grid-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="grid"></mat-icon>
      <mat-icon class="size-24" svgIcon="inbox"></mat-icon>
      <mat-icon class="size-24" svgIcon="indent"></mat-icon>
      <mat-icon class="size-24" svgIcon="interlining"></mat-icon>
      <mat-icon class="size-24" svgIcon="italic"></mat-icon>
      <mat-icon class="size-24" svgIcon="lasso"></mat-icon>
      <mat-icon class="size-24" svgIcon="layers"></mat-icon>
      <mat-icon class="size-24" svgIcon="letter-case"></mat-icon>
      <mat-icon class="size-24" svgIcon="line-width"></mat-icon>
      <mat-icon class="size-24" svgIcon="list-check"></mat-icon>
      <mat-icon class="size-24" svgIcon="list-number"></mat-icon>
      <mat-icon class="size-24" svgIcon="list"></mat-icon>
      <mat-icon class="size-24" svgIcon="mobile-edit"></mat-icon>
      <mat-icon class="size-24" svgIcon="notebook"></mat-icon>
      <mat-icon class="size-24" svgIcon="pencil"></mat-icon>
      <mat-icon class="size-24" svgIcon="pound"></mat-icon>
      <mat-icon class="size-24" svgIcon="protractor"></mat-icon>
      <mat-icon class="size-24" svgIcon="quote-right"></mat-icon>
      <mat-icon class="size-24" svgIcon="receipt"></mat-icon>
      <mat-icon class="size-24" svgIcon="search-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="search-heart"></mat-icon>
      <mat-icon class="size-24" svgIcon="search"></mat-icon>
      <mat-icon class="size-24" svgIcon="settings-sliders"></mat-icon>
      <mat-icon class="size-24" svgIcon="square-root"></mat-icon>
      <mat-icon class="size-24" svgIcon="stats"></mat-icon>
      <mat-icon class="size-24" svgIcon="test"></mat-icon>
      <mat-icon class="size-24" svgIcon="thumbtack"></mat-icon>
      <mat-icon class="size-24" svgIcon="tool-crop"></mat-icon>
      <mat-icon class="size-24" svgIcon="tool-marquee"></mat-icon>
      <mat-icon class="size-24" svgIcon="underline"></mat-icon>
      <mat-icon class="size-24" svgIcon="vector-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="yen"></mat-icon>
    </div>
  </mat-card>

  <h2 class="mat-subtitle-1">Image/Navigation</h2>

  <mat-card class="p-x-24 p-y-24 m-b-24">
    <div class="flex-wrap">
      <mat-icon class="size-24" svgIcon="angle-double-left"></mat-icon>
      <mat-icon class="size-24" svgIcon="angle-double-right"></mat-icon>
      <mat-icon class="size-24" svgIcon="angle-double-small-left"></mat-icon>
      <mat-icon class="size-24" svgIcon="angle-double-small-right"></mat-icon>
      <mat-icon class="size-24" svgIcon="angle-down"></mat-icon>
      <mat-icon class="size-24" svgIcon="angle-up"></mat-icon>
      <mat-icon class="size-24" svgIcon="angle-left"></mat-icon>
      <mat-icon class="size-24" svgIcon="angle-right"></mat-icon>
      <mat-icon class="size-24" svgIcon="angle-small-down"></mat-icon>
      <mat-icon class="size-24" svgIcon="angle-small-left"></mat-icon>
      <mat-icon class="size-24" svgIcon="angle-small-right"></mat-icon>
      <mat-icon class="size-24" svgIcon="angle-small-up"></mat-icon>
      <mat-icon class="size-24" svgIcon="arrow-diagonal"></mat-icon>
      <mat-icon class="size-24" svgIcon="arrow-down"></mat-icon>
      <mat-icon class="size-24" svgIcon="arrow-from-bottom"></mat-icon>
      <mat-icon class="size-24" svgIcon="arrow-left"></mat-icon>
      <mat-icon class="size-24" svgIcon="arrow-right"></mat-icon>
      <mat-icon class="size-24" svgIcon="arrow-small-down"></mat-icon>
      <mat-icon class="size-24" svgIcon="arrow-small-left"></mat-icon>
      <mat-icon class="size-24" svgIcon="arrow-small-right"></mat-icon>
      <mat-icon class="size-24" svgIcon="arrow-small-up"></mat-icon>
      <mat-icon class="size-24" svgIcon="arrow-swap"></mat-icon>
      <mat-icon class="size-24" svgIcon="arrow-up"></mat-icon>
      <mat-icon class="size-24" svgIcon="caret-down"></mat-icon>
      <mat-icon class="size-24" svgIcon="caret-left"></mat-icon>
      <mat-icon class="size-24" svgIcon="caret-right"></mat-icon>
      <mat-icon class="size-24" svgIcon="caret-up"></mat-icon>
      <mat-icon class="size-24" svgIcon="check-circle"></mat-icon>
      <mat-icon class="size-24" svgIcon="check"></mat-icon>
      <mat-icon class="size-24" svgIcon="checkbox"></mat-icon>
      <mat-icon class="size-24" svgIcon="cross-circle"></mat-icon>
      <mat-icon class="size-24" svgIcon="cross-small"></mat-icon>
      <mat-icon class="size-24" svgIcon="cross"></mat-icon>
      <mat-icon class="size-24" svgIcon="minus-small"></mat-icon>
      <mat-icon class="size-24" svgIcon="minus"></mat-icon>
      <mat-icon class="size-24" svgIcon="more-circle"></mat-icon>
      <mat-icon class="size-24" svgIcon="plus-small"></mat-icon>
      <mat-icon class="size-24" svgIcon="plus"></mat-icon>
      <mat-icon class="size-24" svgIcon="quantity-selection"></mat-icon>
      <mat-icon class="size-24" svgIcon="redo-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="redo"></mat-icon>
      <mat-icon class="size-24" svgIcon="refresh"></mat-icon>
      <mat-icon class="size-24" svgIcon="sign-in-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="sign-in"></mat-icon>
      <mat-icon class="size-24" svgIcon="sign-out-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="sign-out"></mat-icon>
      <mat-icon class="size-24" svgIcon="undo-alt"></mat-icon>
      <mat-icon class="size-24" svgIcon="undo"></mat-icon>
    </div>
  </mat-card>
</div>
