<div class="p-x-24 p-y-32">
  <h2 class="mat-subtitle-1">Icons/Action</h2>

  <mat-card class="p-x-24 p-y-24 m-b-24">
    <div class="flex-wrap">
      <mat-icon svgIcon="check-circle"></mat-icon>
      <mat-icon svgIcon="action-menu"></mat-icon>
      <mat-icon svgIcon="menu"></mat-icon>
      <mat-icon svgIcon="apps-add"></mat-icon>
      <mat-icon svgIcon="apps-delete"></mat-icon>
      <mat-icon svgIcon="apps-sort"></mat-icon>
      <mat-icon svgIcon="apps"></mat-icon>
      <mat-icon svgIcon="more-horizontal"></mat-icon>
      <mat-icon svgIcon="more-vertical"></mat-icon>
      <mat-icon svgIcon="ban"></mat-icon>
      <mat-icon svgIcon="bell-ring"></mat-icon>
      <mat-icon svgIcon="bell"></mat-icon>
      <mat-icon svgIcon="dollar"></mat-icon>
      <mat-icon svgIcon="download"></mat-icon>
      <mat-icon svgIcon="trash"></mat-icon>
      <mat-icon svgIcon="add"></mat-icon>
      <mat-icon svgIcon="calculator"></mat-icon>
      <mat-icon svgIcon="calendar"></mat-icon>
      <mat-icon svgIcon="cursor"></mat-icon>
      <mat-icon svgIcon="earnings"></mat-icon>
      <mat-icon svgIcon="euro"></mat-icon>
      <mat-icon svgIcon="exclamation"></mat-icon>
      <mat-icon svgIcon="eye-crossed"></mat-icon>
      <mat-icon svgIcon="eye"></mat-icon>
      <mat-icon svgIcon="filter"></mat-icon>
      <mat-icon svgIcon="following"></mat-icon>
      <mat-icon svgIcon="hastag"></mat-icon>
      <mat-icon svgIcon="heart-arrow"></mat-icon>
      <mat-icon svgIcon="heart"></mat-icon>
      <mat-icon svgIcon="minus-circle"></mat-icon>
      <mat-icon svgIcon="user-add"></mat-icon>
      <mat-icon svgIcon="user-delete"></mat-icon>
      <mat-icon svgIcon="user-remove"></mat-icon>
      <mat-icon svgIcon="user-time"></mat-icon>
      <mat-icon svgIcon="user"></mat-icon>
      <mat-icon svgIcon="hourglass-end"></mat-icon>
      <mat-icon svgIcon="hourglass"></mat-icon>
      <mat-icon svgIcon="incognito"></mat-icon>
      <mat-icon svgIcon="infinity"></mat-icon>
      <mat-icon svgIcon="info"></mat-icon>
      <mat-icon svgIcon="interrogation"></mat-icon>
      <mat-icon svgIcon="link"></mat-icon>
      <mat-icon svgIcon="lock-alt"></mat-icon>
      <mat-icon svgIcon="lock"></mat-icon>
      <mat-icon svgIcon="navigation"></mat-icon>
      <mat-icon svgIcon="paper-planer"></mat-icon>
      <mat-icon svgIcon="pharmacy"></mat-icon>
      <mat-icon svgIcon="recycle"></mat-icon>
      <mat-icon svgIcon="rotate-right"></mat-icon>
      <mat-icon svgIcon="settings"></mat-icon>
      <mat-icon svgIcon="share"></mat-icon>
      <mat-icon svgIcon="spinner-alt"></mat-icon>
      <mat-icon svgIcon="thumbs-down"></mat-icon>
      <mat-icon svgIcon="thumbs-up"></mat-icon>
      <mat-icon svgIcon="transform"></mat-icon>
      <mat-icon svgIcon="link-autoservicio"></mat-icon>
      <mat-icon svgIcon="move"></mat-icon>
      <mat-icon svgIcon="nfc"></mat-icon>
      <mat-icon svgIcon="unlock"></mat-icon>
      <mat-icon svgIcon="upload"></mat-icon>
      <mat-icon svgIcon="zoom-in"></mat-icon>
      <mat-icon svgIcon="zoom-out"></mat-icon>
    </div>
  </mat-card>

  <h2 class="mat-subtitle-1">Icons/Image</h2>

  <mat-card class="p-x-24 p-y-24 m-b-24">
    <div class="flex-wrap">
      <mat-icon svgIcon="camera"></mat-icon>
      <mat-icon svgIcon="compress-arrow"></mat-icon>
      <mat-icon svgIcon="compress"></mat-icon>
      <mat-icon svgIcon="dropper"></mat-icon>
      <mat-icon svgIcon="expand"></mat-icon>
      <mat-icon svgIcon="file-ai"></mat-icon>
      <mat-icon svgIcon="file-eps"></mat-icon>
      <mat-icon svgIcon="file-gif"></mat-icon>
      <mat-icon svgIcon="file-jpg"></mat-icon>
      <mat-icon svgIcon="file-psd"></mat-icon>
      <mat-icon svgIcon="fill"></mat-icon>
      <mat-icon svgIcon="film"></mat-icon>
      <mat-icon svgIcon="flip-horizontal"></mat-icon>
      <mat-icon svgIcon="gallery"></mat-icon>
      <mat-icon svgIcon="magic-wand"></mat-icon>
      <mat-icon svgIcon="mode-landscape"></mat-icon>
      <mat-icon svgIcon="mode-portrait"></mat-icon>
      <mat-icon svgIcon="opacity"></mat-icon>
      <mat-icon svgIcon="paint-brush"></mat-icon>
      <mat-icon svgIcon="palette"></mat-icon>
      <mat-icon svgIcon="picture"></mat-icon>
      <mat-icon svgIcon="portrait"></mat-icon>
      <mat-icon svgIcon="reflect"></mat-icon>
      <mat-icon svgIcon="resize"></mat-icon>
      <mat-icon svgIcon="resources"></mat-icon>
      <mat-icon svgIcon="stapler"></mat-icon>
      <mat-icon svgIcon="star-octogram"></mat-icon>
      <mat-icon svgIcon="star"></mat-icon>
      <mat-icon svgIcon="vector"></mat-icon>
    </div>
  </mat-card>

  <h2 class="mat-subtitle-1">Icons/Editor</h2>

  <mat-card class="p-x-24 p-y-24 m-b-24">
    <div class="flex-wrap">
      <mat-icon svgIcon="align-center"></mat-icon>
      <mat-icon svgIcon="align-justify"></mat-icon>
      <mat-icon svgIcon="align-left"></mat-icon>
      <mat-icon svgIcon="align-right"></mat-icon>
      <mat-icon svgIcon="asterik"></mat-icon>
      <mat-icon svgIcon="bold"></mat-icon>
      <mat-icon svgIcon="book-alt"></mat-icon>
      <mat-icon svgIcon="book"></mat-icon>
      <mat-icon svgIcon="bookmark"></mat-icon>
      <mat-icon svgIcon="chart-connected"></mat-icon>
      <mat-icon svgIcon="chart-histogram"></mat-icon>
      <mat-icon svgIcon="chart-network"></mat-icon>
      <mat-icon svgIcon="chart-pie"></mat-icon>
      <mat-icon svgIcon="chart-set-theory"></mat-icon>
      <mat-icon svgIcon="chart-tree"></mat-icon>
      <mat-icon svgIcon="chat-arrow-down"></mat-icon>
      <mat-icon svgIcon="chat-arrow-grow"></mat-icon>
      <mat-icon svgIcon="clip"></mat-icon>
      <mat-icon svgIcon="pie-alt"></mat-icon>
      <mat-icon svgIcon="text-check"></mat-icon>
      <mat-icon svgIcon="copy-alt"></mat-icon>
      <mat-icon svgIcon="copy"></mat-icon>
      <mat-icon svgIcon="copyright"></mat-icon>
      <mat-icon svgIcon="cursor-text"></mat-icon>
      <mat-icon svgIcon="delete"></mat-icon>
      <mat-icon svgIcon="disk"></mat-icon>
      <mat-icon svgIcon="doctor"></mat-icon>
      <mat-icon svgIcon="document-signed"></mat-icon>
      <mat-icon svgIcon="document"></mat-icon>
      <mat-icon svgIcon="duplicate"></mat-icon>
      <mat-icon svgIcon="edit-alt"></mat-icon>
      <mat-icon svgIcon="edit"></mat-icon>
      <mat-icon svgIcon="file-add"></mat-icon>
      <mat-icon svgIcon="file-check"></mat-icon>
      <mat-icon svgIcon="file-delete"></mat-icon>
      <mat-icon svgIcon="file-music"></mat-icon>
      <mat-icon svgIcon="file"></mat-icon>
      <mat-icon svgIcon="folder-add"></mat-icon>
      <mat-icon svgIcon="text-alt"></mat-icon>
      <mat-icon svgIcon="text"></mat-icon>
      <mat-icon svgIcon="document-detail"></mat-icon>
      <mat-icon svgIcon="folder"></mat-icon>
      <mat-icon svgIcon="form"></mat-icon>
      <mat-icon svgIcon="grid-alt"></mat-icon>
      <mat-icon svgIcon="grid"></mat-icon>
      <mat-icon svgIcon="inbox"></mat-icon>
      <mat-icon svgIcon="indent"></mat-icon>
      <mat-icon svgIcon="interlining"></mat-icon>
      <mat-icon svgIcon="italic"></mat-icon>
      <mat-icon svgIcon="lasso"></mat-icon>
      <mat-icon svgIcon="layers"></mat-icon>
      <mat-icon svgIcon="letter-case"></mat-icon>
      <mat-icon svgIcon="line-width"></mat-icon>
      <mat-icon svgIcon="list-check"></mat-icon>
      <mat-icon svgIcon="list-number"></mat-icon>
      <mat-icon svgIcon="list"></mat-icon>
      <mat-icon svgIcon="mobile-edit"></mat-icon>
      <mat-icon svgIcon="notebook"></mat-icon>
      <mat-icon svgIcon="pencil"></mat-icon>
      <mat-icon svgIcon="pound"></mat-icon>
      <mat-icon svgIcon="protractor"></mat-icon>
      <mat-icon svgIcon="quote-right"></mat-icon>
      <mat-icon svgIcon="receipt"></mat-icon>
      <mat-icon svgIcon="search-alt"></mat-icon>
      <mat-icon svgIcon="search-heart"></mat-icon>
      <mat-icon svgIcon="search"></mat-icon>
      <mat-icon svgIcon="settings-sliders"></mat-icon>
      <mat-icon svgIcon="square-root"></mat-icon>
      <mat-icon svgIcon="stats"></mat-icon>
      <mat-icon svgIcon="test"></mat-icon>
      <mat-icon svgIcon="thumbtack"></mat-icon>
      <mat-icon svgIcon="tool-crop"></mat-icon>
      <mat-icon svgIcon="tool-marquee"></mat-icon>
      <mat-icon svgIcon="underline"></mat-icon>
      <mat-icon svgIcon="vector-alt"></mat-icon>
      <mat-icon svgIcon="yen"></mat-icon>
    </div>
  </mat-card>

  <h2 class="mat-subtitle-1">Image/Navigation</h2>

  <mat-card class="p-x-24 p-y-24 m-b-24">
    <div class="flex-wrap">
      <mat-icon svgIcon="angle-double-left"></mat-icon>
      <mat-icon svgIcon="angle-double-right"></mat-icon>
      <mat-icon svgIcon="angle-double-small-left"></mat-icon>
      <mat-icon svgIcon="angle-double-small-right"></mat-icon>
      <mat-icon svgIcon="angle-down"></mat-icon>
      <mat-icon svgIcon="angle-up"></mat-icon>
      <mat-icon svgIcon="angle-left"></mat-icon>
      <mat-icon svgIcon="angle-right"></mat-icon>
      <mat-icon svgIcon="angle-small-down"></mat-icon>
      <mat-icon svgIcon="angle-small-left"></mat-icon>
      <mat-icon svgIcon="angle-small-right"></mat-icon>
      <mat-icon svgIcon="angle-small-up"></mat-icon>
      <mat-icon svgIcon="arrow-diagonal"></mat-icon>
      <mat-icon svgIcon="arrow-down"></mat-icon>
      <mat-icon svgIcon="arrow-from-bottom"></mat-icon>
      <mat-icon svgIcon="arrow-left"></mat-icon>
      <mat-icon svgIcon="arrow-right"></mat-icon>
      <mat-icon svgIcon="arrow-small-down"></mat-icon>
      <mat-icon svgIcon="arrow-small-left"></mat-icon>
      <mat-icon svgIcon="arrow-small-right"></mat-icon>
      <mat-icon svgIcon="arrow-small-up"></mat-icon>
      <mat-icon svgIcon="arrow-swap"></mat-icon>
      <mat-icon svgIcon="arrow-up"></mat-icon>
      <mat-icon svgIcon="caret-down"></mat-icon>
      <mat-icon svgIcon="caret-left"></mat-icon>
      <mat-icon svgIcon="caret-right"></mat-icon>
      <mat-icon svgIcon="caret-up"></mat-icon>
      <mat-icon svgIcon="check-circle"></mat-icon>
      <mat-icon svgIcon="check"></mat-icon>
      <mat-icon svgIcon="checkbox"></mat-icon>
      <mat-icon svgIcon="cross-circle"></mat-icon>
      <mat-icon svgIcon="cross-small"></mat-icon>
      <mat-icon svgIcon="cross"></mat-icon>
      <mat-icon svgIcon="minus-small"></mat-icon>
      <mat-icon svgIcon="minus"></mat-icon>
      <mat-icon svgIcon="more-circle"></mat-icon>
      <mat-icon svgIcon="plus-small"></mat-icon>
      <mat-icon svgIcon="plus"></mat-icon>
      <mat-icon svgIcon="quantity-selection"></mat-icon>
      <mat-icon svgIcon="redo-alt"></mat-icon>
      <mat-icon svgIcon="redo"></mat-icon>
      <mat-icon svgIcon="refresh"></mat-icon>
      <mat-icon svgIcon="sign-in-alt"></mat-icon>
      <mat-icon svgIcon="sign-in"></mat-icon>
      <mat-icon svgIcon="sign-out-alt"></mat-icon>
      <mat-icon svgIcon="sign-out"></mat-icon>
      <mat-icon svgIcon="undo-alt"></mat-icon>
      <mat-icon svgIcon="undo"></mat-icon>
    </div>
  </mat-card>
</div>
