<div class="p-x-24 p-y-32">
  <h1 class="mat-subtitle-1 center upper color-accent-primary"><b>Transloco</b></h1>

  <br>
  <br>

  <button
    mat-button
    class="m-r-16"
    *ngFor="let lang of availableLangs;"
    (click)="changeLang(lang.id)"
    [class.bg-accent-primary]="activeLang === lang.id">
    {{ lang.label }}
  </button>

  <br>
  <br>

  <h2 class="mat-subtitle-1 color-accent-secondary center">{{ greetingText }}</h2>

  <div class="mat-body-1" transloco="text"></div>
  <div class="mat-body-1" transloco="textKeys" [translocoParams]="{name: 'Dima'}"></div>

  <br>

  <div class="p-l-24" *transloco="let t;">
    <h3 class="mat-subtitle-1">{{ t('nested.title') }}</h3>
    <p class="mat-body-1">{{t('nested.text')}}</p>
  </div>

  <br>
  <br>

  <br>

  <ng-container *transloco="let t; prefix: 'firstComponent'">
    <h3 class="mat-subtitle-1 color-accent-secondary center">{{ t('title', {value: 1}) }}</h3>
    <p class="mat-body-1">{{t('text', {value: 1})}}</p>
    <p class="mat-body-1">{{ 'firstComponent.subtext' | transloco: {name: 'Nicol'} }}</p>
    <p class="mat-body-1 color-warn">{{ t('textWithCount', {dynamicCount}) }}</p>
    <br>
    <div class="p-l-24">
      <h3 class="mat-subtitle-1">{{t('nested.title')}}</h3>
      <p class="mat-body-1">{{t('nested.text')}}</p>
    </div>
    <br>
    <ul>
      <li *ngFor="let option of t('list');">
        <span class="mat-body-1">{{option}}</span>
      </li>
    </ul>
  </ng-container>

  <br>
  <br>
  <br>
  <br>

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="mat-body-1">Info banner</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-info-banner [type]="'info'" [matIcon]="'info'"></app-info-banner>
      <br>
      <app-info-banner [type]="'success'" [svgIcon]="'check-circle'"></app-info-banner>
      <br>
      <app-info-banner [type]="'error'" [matIcon]="'error'"></app-info-banner>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="mat-body-1">Custom tooltip</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="flex-justify-between p-y-16">
        <div class="flex-align-center mat-body-1">
          <mat-icon class="m-r-8 flex-shrink-0" appTooltip [templateRef]="tooltipTemplate" [position]="{y: 'top', x: 'start'}">
            info
          </mat-icon>
          <b>Show tooltip with top/start position</b>
        </div>

        <div class="flex-align-center mat-body-1">
          <b>Show tooltip with bottom/end position</b>
          <mat-icon class="m-l-8 flex-shrink-0" appTooltip [templateRef]="tooltipTemplate" [position]="{y: 'bottom', x: 'end'}">
            info
          </mat-icon>
        </div>
      </div>

      <ng-template #tooltipTemplate>
        <app-tooltip>
          Test tooltip text
        </app-tooltip>
      </ng-template>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="mat-body-1">Phone fields</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="flex-align-center p-y-16" [formGroup]="form">
        <app-phone-field [form]="form"></app-phone-field>
        <app-phone-field-menu-suffix class="m-l-24" [form]="form"></app-phone-field-menu-suffix>
        <app-phone-field-menu-prefix class="m-l-24" [form]="form"></app-phone-field-menu-prefix>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

</div>
