.matSidenavContainer {
  height: 100%;
}

.matSidenav,
.mat-drawer-inner-container {
  overflow: initial !important;
}

mat-sidenav.matSidenav {
  display: block !important;
  visibility: visible !important;
  transform: translate3d(0, 0, 0) !important;
  transition: width .4s;
  width: 64px;

  &.mat-drawer-opened {
    width: 280px !important;
  }

  .mdc-label {
    white-space: nowrap;
  }
}


.matSidenavContent {
  margin-left: 64px !important;
  transition: margin-left .4s;
}

.mat-drawer-opened~.matSidenavContent {
  margin-left: 280px !important;
}

[dir="rtl"] {
  .matSidenavContent {
    margin-right: 64px !important;
    margin-left: 0 !important;
    transition: margin-right .4s;
  }

  .mat-drawer-opened~.matSidenavContent {
    margin-right: 280px !important;
    margin-left: 0 !important;
  }
}
