.docsHeader {
  position: relative;
  padding: 32px;
  background-color: var(--ds-background-color-screen-softest);
  border-radius: var(--ds-border-radius-box);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 440px;
    background: url("/assets/images/library/header/header-bg.svg") no-repeat center;
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 700px;
    max-width: 100%;
  }

  &__logo {
    margin-bottom: 32px;
  }

  &__title-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    margin-bottom: 12px;

    air-tag {
      margin-bottom: 12px;
    }
  }

  &__title {
    font: 700 var(--ds-font-headlines-h2);
    color: var(--ds-text-color-neutral-default);
    margin: 0;
  }

  &__description {
    font: 400 var(--ds-font-text-m);
    color: var(--ds-text-color-neutral-low);
    text-shadow: 0 1px 0px var(--ds-background-color-screen-softest);
    backdrop-filter: blur(1px);
    margin: 0 0 32px;
  }

  &__copyright {
    font: 400 var(--ds-font-text-s);
    color: var(--ds-text-color-neutral-low);
  }

  &__bg {
    position: absolute;
    right: -120px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.65;
    pointer-events: none;
  }
}
