:host {
  display: inline-flex;
  overflow-x: auto;
}

.sizes {
  display: inline-flex;
  column-gap: 24px;
  margin: 0 auto;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
  }

  app-docs-card-tag-bracket {
    width: 100%;
  }
}
