:host-context(.mat-drawer-opened) {
  .sidenav__top .accessibility,
  .sidenav__body {
    opacity: 1;
    visibility: visible;
  }

  .sidenav__top > .mdc-icon-button {
    opacity: 0;
  }
}

:host-context([dir="rtl"]) {
  .sidenav__top >.mdc-icon-button {
    left: -1rem;
    right: initial;
  }
}

.sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: width .2s;

  &:hover {
    .sidenav__top > .mdc-icon-button {
      opacity: 1 !important;
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 54px;
    border-bottom: 1px solid var(--border-color);

    .accessibility {
      opacity: 0;
      visibility: hidden;
      transition: .2s;
    }

    > .mdc-icon-button {
      position: absolute;
      border: 1px solid var(--border-color);
      background-color: var(--primaryBackground);
      top: 50%;
      right: -1rem;
      transform: translateY(-50%);
      transition: opacity .2s;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: .2s;
  }
}

.accessibility {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
