<div class="sidenav">
  <div class="sidenav__top p-l-16">
    <mat-slide-toggle [(ngModel)]="isChecked" (toggleChange)="changeThemeMode()" labelPosition="before" color="primary">
      <span class="m-r-8">{{isChecked ? 'Dark mode' : 'Light mode'}}</span>
    </mat-slide-toggle>
    <button mat-icon-button (click)="toggle()">
      <span class="material-symbols-outlined">chevron_right</span>
    </button>
  </div>
  <div class="sidenav__body">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/typography']" [routerLinkActive]="'active'">Typography</a>
      <a mat-list-item [routerLink]="['/colors-scheme']" [routerLinkActive]="'active'">Colors scheme</a>
      <a mat-list-item [routerLink]="['/components']" [routerLinkActive]="'active'">Components</a>
      <a mat-list-item [routerLink]="['/web-header']" [routerLinkActive]="'active'">Website header</a>
      <a mat-list-item [routerLink]="['/dashboard']" [routerLinkActive]="'active'">Dashboard</a>
      <a mat-list-item [routerLink]="['/icons']" [routerLinkActive]="'active'">SVG icons</a>
    </mat-nav-list>
  </div>
</div>
