// mat-button
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-unelevated-button,
.mat-mdc-outlined-button {
  .mdc-button__label {
    display: flex;
    align-items: center;
  }
}

// mat-icon-button
.mat-mdc-icon-button.mat-mdc-button-base {
  padding: 0;

  .material-symbols-outlined,
  .material-icons {
    font-size: inherit;
    line-height: inherit;
  }
}

@for $size from 24 through 48 {
  @if $size % 8==0 {
    .mat-mdc-icon-button.mat-mdc-button-base {
      &.size-#{$size} {
        width: #{calc($size/16)}rem;
        height: #{calc($size/16)}rem;
        line-height: #{calc($size/16)}rem;
        font-size: #{calc(($size - 8)/16)}rem;
      }
    }
  }
}
