:root {
  // text color variables
  --ds-text-color-neutral-contrast: var(--color-global-neutral-text-contrast, #ffffff);
  --ds-text-color-neutral-low: var(--color-global-neutral-text-low, #475569);
  --ds-text-color-neutral-default: var(--color-global-neutral-text-default, #334155);
  --ds-text-color-neutral-lower: var(--color-global-neutral-text-lower, #adbbcf);
  --ds-text-color-neutral-accent: var(--color-global-neutral-text-accent, #ffffff);
  --ds-text-color-neutral-high: var(--color-global-neutral-text-high, #000000);
  --ds-text-color-neutral-op50: var(--color-global-neutral-text-op50, #3341550d);
  --ds-text-color-neutral-op200: var(--color-global-neutral-text-op200, #33415533);
  --ds-text-color-neutral-action-hover: var(--color-global-neutral-text-action-hover, #1e293b);
  --ds-text-color-neutral-action-pressed: var(--color-global-neutral-text-action-pressed, #0f172a);
  --ds-text-color-neutral-action-disabled: var(--color-global-neutral-text-action-disabled, #adbbcf);
  --ds-text-color-neutral-action-filled: var(--color-global-neutral-text-action-filled, #1e293b);
  --ds-text-color-neutral-action-op50: var(--color-global-neutral-text-action-op50, #3341550d);
  --ds-text-color-neutral-action-op200: var(--color-global-neutral-text-action-op200, #33415533);
  --ds-text-color-info-default: var(--color-global-info-text-default, #1b55f5);
  --ds-text-color-info-hover: var(--color-global-info-text-hover, #1440e1);
  --ds-text-color-info-pressed: var(--color-global-info-text-pressed, #1734b6);
  --ds-text-color-info-high: var(--color-global-info-text-high, #1734b6);
  --ds-text-color-info-low: var(--color-global-info-text-low, #599cff);
  --ds-text-color-info-op50: var(--color-global-info-text-op50, #1B55F50D);
  --ds-text-color-info-op200: var(--color-global-info-text-op200, #1B55F533);
  --ds-text-color-success-default: var(--color-global-success-text-default, #16a34a);
  --ds-text-color-success-hover: var(--color-global-success-text-hover, #16803c);
  --ds-text-color-success-pressed: var(--color-global-success-text-pressed, #166534);
  --ds-text-color-success-high: var(--color-global-success-text-high, #14532d);
  --ds-text-color-success-low: var(--color-global-success-text-low, #4ade80);
  --ds-text-color-success-op50: var(--color-global-success-text-op50, #16a34a0d);
  --ds-text-color-success-op200: var(--color-global-success-text-op200, #16a34a33);
  --ds-text-color-error-default: var(--color-global-error-text-default, #dc2626);
  --ds-text-color-error-hover: var(--color-global-error-text-hover, #b91c1c);
  --ds-text-color-error-pressed: var(--color-global-error-text-pressed, #991b1b);
  --ds-text-color-error-high: var(--color-global-error-text-high, #7f1d1d);
  --ds-text-color-error-low: var(--color-global-error-text-low, #f87171);
  --ds-text-color-error-op50: var(--color-global-error-text-op50, #dc26260d);
  --ds-text-color-error-op200: var(--color-global-error-text-op200, #dc262633);
  --ds-text-color-warning-default: var(--color-global-warning-text-default, #d97706);
  --ds-text-color-warning-hover: var(--color-global-warning-text-hover, #b45309);
  --ds-text-color-warning-pressed: var(--color-global-warning-text-pressed, #92400e);
  --ds-text-color-warning-high: var(--color-global-warning-text-high, #78350f);
  --ds-text-color-warning-low: var(--color-global-warning-text-low, #fbbf24);
  --ds-text-color-warning-op50: var(--color-global-warning-text-op50, #d977060d);
  --ds-text-color-warning-op200: var(--color-global-warning-text-op200, #d9770633);
  --ds-text-color-accent-high: var(--color-global-accent-text-high, #4c1d95);
  --ds-text-color-accent-default: var(--color-global-accent-text-default, #7C3AED);
  --ds-text-color-accent-hover: var(--color-global-accent-text-hover, #6D28D9);
  --ds-text-color-accent-pressed: var(--color-global-accent-text-pressed, #5B21B6);
  --ds-text-color-accent-low: var(--color-global-accent-text-soft, #A78BFA);
  --ds-text-color-alert-high: var(--color-global-alert-text-high, #7c2d12);
  --ds-text-color-theme-primary: var(--color-theme-text-primary, #1633ff);
  --ds-text-color-theme-hover: var(--color-theme-text-hover, #001ce0);
  --ds-text-color-theme-pressed: var(--color-theme-text-pressed, #0015a8);
  --ds-text-color-theme-accent: var(--color-theme-text-accent, #1633ff);
  --ds-text-color-theme-mid: var(--color-theme-text-mid, #adb8ff);
  --ds-text-color-theme-low: var(--color-theme-text-low, #ccd2ff);
  --ds-text-color-theme-soft: var(--color-theme-text-soft, #f0f2ff);
  --ds-text-color-theme-softest: var(--color-theme-text-softest, #f6f8ff);
  --ds-text-color-theme-high: var(--color-theme-text-high, #8a98ff);
  --ds-text-color-theme-op50: var(--color-theme-text-op50, #1633ff0d);

  // icon color variables
  --ds-icon-color-neutral-high: var(--color-global-neutral-icon-high, #000000);
  --ds-icon-color-neutral-default: var(--color-global-neutral-icon-default, #334155);
  --ds-icon-color-neutral-low: var(--color-global-neutral-icon-low, #475569);
  --ds-icon-color-neutral-lower: var(--color-global-neutral-icon-lower, #adbbcf);
  --ds-icon-color-neutral-contrast: var(--color-global-neutral-icon-contrast, #ffffff);
  --ds-icon-color-neutral-accent: var(--color-global-neutral-icon-accent, #ffffff);
  --ds-icon-color-neutral-op50: var(--color-global-neutral-icon-op50, #3341550d);
  --ds-icon-color-neutral-op200: var(--color-global-neutral-icon-op200, #33415533);
  --ds-icon-color-neutral-action-hover: var(--color-global-neutral-icon-action-hover, #1e293b);
  --ds-icon-color-neutral-action-pressed: var(--color-global-neutral-icon-action-pressed, #0f172a);
  --ds-icon-color-neutral-action-filled: var(--color-global-neutral-icon-action-filled, #1e293b);
  --ds-icon-color-neutral-action-disabled: var(--color-global-neutral-icon-action-disabled, #adbbcf);
  --ds-icon-color-neutral-action-op50: var(--color-global-neutral-icon-action-op50, #3341550d);
  --ds-icon-color-neutral-action-op200: var(--color-global-neutral-icon-action-op200, #33415533);
  --ds-icon-color-tonal-default: var(--color-global-tonal-icon-default, #f1f5f9);
  --ds-icon-color-tonal-hover: var(--color-global-tonal-icon-hover, #e2e8f0);
  --ds-icon-color-tonal-pressed: var(--color-global-tonal-icon-pressed, #cbd5e1);
  --ds-icon-color-tonal-op50: var(--color-global-tonal-icon-op50, #3341550D);
  --ds-icon-color-info-default: var(--color-global-info-icon-default, #1B55F5);
  --ds-icon-color-info-hover: var(--color-global-info-icon-hover, #1440e1);
  --ds-icon-color-info-pressed: var(--color-global-info-icon-pressed, #1734b6);
  --ds-icon-color-info-high: var(--color-global-info-icon-high, #19318f);
  --ds-icon-color-info-low: var(--color-global-info-icon-low, #599cff);
  --ds-icon-color-info-op50: var(--color-global-info-icon-op50, #1B55F50D);
  --ds-icon-color-info-op200: var(--color-global-info-icon-op200, #1B55F533);
  --ds-icon-color-warning-default: var(--color-global-warning-icon-default, #d97706);
  --ds-icon-color-warning-hover: var(--color-global-warning-icon-hover, #b45309);
  --ds-icon-color-warning-pressed: var(--color-global-warning-icon-pressed, #92400e);
  --ds-icon-color-warning-high: var(--color-global-warning-icon-high, #d97706);
  --ds-icon-color-warning-low: var(--color-global-warning-icon-low, #fbbf24);
  --ds-icon-color-warning-op50: var(--color-global-warning-icon-op50, #d977060d);
  --ds-icon-color-warning-op200: var(--color-global-warning-icon-op200, #d9770633);
  --ds-icon-color-success-default: var(--color-global-success-icon-default, #16a34a);
  --ds-icon-color-success-hover: var(--color-global-success-icon-hover, #16803c);
  --ds-icon-color-success-pressed: var(--color-global-success-icon-pressed, #166534);
  --ds-icon-color-success-high: var(--color-global-success-icon-high, #14532d);
  --ds-icon-color-success-low: var(--color-global-success-icon-low, #4ade80);
  --ds-icon-color-success-op50: var(--color-global-success-icon-op50, #16a34a0d);
  --ds-icon-color-success-op200: var(--color-global-success-icon-op200, #16a34a33);
  --ds-icon-color-error-default: var(--color-global-error-icon-default, #dc2626);
  --ds-icon-color-error-hover: var(--color-global-error-icon-hover, #b91c1c);
  --ds-icon-color-error-pressed: var(--color-global-error-icon-pressed, #991b1b);
  --ds-icon-color-error-high: var(--color-global-error-icon-high, #7f1d1d);
  --ds-icon-color-error-low: var(--color-global-error-icon-low, #f87171);
  --ds-icon-color-error-op50: var(--color-global-error-icon-op50, #dc26260d);
  --ds-icon-color-error-op200: var(--color-global-error-icon-op200, #dc262633);
  --ds-icon-color-accent-default: var(--color-global-accent-icon-default, #7C3AED);
  --ds-icon-color-accent-hover: var(--color-global-accent-icon-hover, #7C3AED);
  --ds-icon-color-accent-pressed: var(--color-global-accent-icon-pressed, #6D28D9);
  --ds-icon-color-accent-high: var(--color-global-accent-icon-high, #4C1D95);
  --ds-icon-color-accent-low: var(--color-global-accent-icon-low, #A78BFA);
  --ds-icon-color-alert-high: var(--color-global-alert-icon-high, #7c2d12);
  --ds-icon-color-alert-default: var(--color-global-alert-icon-default, #ea580c);
  --ds-icon-color-theme-primary: var(--color-theme-icon-primary, #1633ff);
  --ds-icon-color-theme-accent: var(--color-theme-icon-accent, #1633ff);
  --ds-icon-color-theme-hover: var(--color-theme-icon-hover, #001ce0);
  --ds-icon-color-theme-pressed: var(--color-theme-icon-pressed, #0015a8);
  --ds-icon-color-theme-high: var(--color-theme-icon-high, #8a98ff);
  --ds-icon-color-theme-mid: var(--color-theme-icon-mid, #adb8ff);
  --ds-icon-color-theme-low: var(--color-theme-icon-low, #ccd2ff);
  --ds-icon-color-theme-soft: var(--color-theme-icon-soft, #f0f2ff);
  --ds-icon-color-theme-softest: var(--color-theme-icon-softest, #f6f8ff);
  --ds-icon-color-theme-op50: var(--color-theme-icon-op50, #1633ff0d);

  // screen background variables
  --ds-background-color-screen-white: var(--color-screen-white);
  --ds-background-color-screen-base: var(--color-screen-base);
  --ds-background-color-screen-soft: var(--color-screen-soft);
  --ds-background-color-screen-softest: var(--color-screen-softest);
  --ds-background-color-screen-opacity-soft: var(--color-screen-opacity-soft, #33415533);
  --ds-background-color-screen-opacity-medium: var(--color-screen-opacity-medium, #33415566);
  --ds-background-color-screen-opacity-strong: var(--color-screen-opacity-strong, #33415599);
  --ds-background-color-screen-opacity-strongest: var(--color-screen-opacity-strongest, #334155cc);
  --ds-background-color-screen-transparency-soft: var(--color-screen-transparency-soft, #ffffff33);
  --ds-background-color-screen-transparency-medium: var(--color-screen-transparency-medium, #ffffff66);
  --ds-background-color-screen-transparency-strong: var(--color-screen-transparency-strong, #ffffff99);
  --ds-background-color-screen-transparency-strongest: var(--color-screen-transparency-strongest, #ffffffcc);

  // background variables
  --ds-background-color-neutral-default: var(--color-global-neutral-background-default, #334155);
  --ds-background-color-neutral-soft: var(--color-global-neutral-background-soft, #cbd5e1);
  --ds-background-color-neutral-softest: var(--color-global-neutral-background-softest, #f1f5f9);
  --ds-background-color-neutral-clear: var(--color-global-neutral-background-clear, #ffffff);
  --ds-background-color-neutral-ghost: var(--color-global-neutral-background-ghost, #ffffff);
  --ds-background-color-neutral-op50: var(--color-global-neutral-background-op50, #3341550D);
  --ds-background-color-neutral-op200: var(--color-global-neutral-background-op200, #33415533);
  --ds-background-color-neutral-action-pressed: var(--color-global-neutral-background-action-pressed, #0f172a);
  --ds-background-color-neutral-action-hover: var(--color-global-neutral-background-action-hover, #1E293B);
  --ds-background-color-neutral-action-filled: var(--color-global-neutral-background-action-filled, #334155);
  --ds-background-color-neutral-action-disabled: var(--color-global-neutral-background-action-disabled, #e2e8f0);
  --ds-background-color-neutral-action-op50: var(--color-global-neutral-background-action-op50, #3341550D);
  --ds-background-color-neutral-action-op200: var(--color-global-neutral-background-action-op200, #33415533);
  --ds-background-color-tonal-default: var(--color-global-tonal-background-default, #f1f5f9);
  --ds-background-color-tonal-hover: var(--color-global-tonal-background-hover, #e2e8f0);
  --ds-background-color-tonal-pressed: var(--color-global-tonal-background-pressed, #cbd5e1);
  --ds-background-color-tonal-op50: var(--color-global-tonal-background-op50, #3341550D);
  --ds-background-color-info-default: var(--color-global-info-background-default, #1b55f5);
  --ds-background-color-info-hover: var(--color-global-info-background-hover, #1440e1);
  --ds-background-color-info-pressed: var(--color-global-info-background-pressed, #1734b6);
  --ds-background-color-info-softest: var(--color-global-info-background-softest, #EEF5FF);
  --ds-background-color-info-soft: var(--color-global-info-background-soft, #d9e8ff);
  --ds-background-color-info-op50: var(--color-global-info-background-op50, #1b55f50d);
  --ds-background-color-info-op200: var(--color-global-info-background-op200, #1b55f533);
  --ds-background-color-warning-default: var(--color-global-warning-background-default, #d97706);
  --ds-background-color-warning-hover: var(--color-global-warning-background-hover, #b45309);
  --ds-background-color-warning-pressed: var(--color-global-warning-background-pressed, #92400e);
  --ds-background-color-warning-softest: var(--color-global-warning-background-softest, #fffbeb);
  --ds-background-color-warning-soft: var(--color-global-warning-background-soft, #fef3c7);
  --ds-background-color-warning-op50: var(--color-global-warning-background-op50, #d977060d);
  --ds-background-color-warning-op200: var(--color-global-warning-background-op200, #d9770633);
  --ds-background-color-success-default: var(--color-global-success-background-default, #16a34a);
  --ds-background-color-success-hover: var(--color-global-success-background-hover, #16803c);
  --ds-background-color-success-pressed: var(--color-global-success-background-pressed, #166534);
  --ds-background-color-success-softest: var(--color-global-success-background-softest, #f0fdf4);
  --ds-background-color-success-soft: var(--color-global-success-background-soft, #dcfce7);
  --ds-background-color-success-op50: var(--color-global-success-background-op50, #16a34a0d);
  --ds-background-color-success-op200: var(--color-global-success-background-op200, #16a34a33);
  --ds-background-color-error-default: var(--color-global-error-background-default, #dc2626);
  --ds-background-color-error-hover: var(--color-global-error-background-hover, #b91c1c);
  --ds-background-color-error-pressed: var(--color-global-error-background-pressed, #991b1b);
  --ds-background-color-error-softest: var(--color-global-error-background-softest, #fef2f2);
  --ds-background-color-error-soft: var(--color-global-error-background-soft, #fee2e2);
  --ds-background-color-error-op50: var(--color-global-error-background-op50, #dc26260d);
  --ds-background-color-error-op200: var(--color-global-error-background-op200, #dc262633);
  --ds-background-color-accent-default: var(--color-global-accent-background-default, #7C3AED);
  --ds-background-color-accent-hover: var(--color-global-accent-background-hover, #6D28D9);
  --ds-background-color-accent-pressed: var(--color-global-accent-background-pressed, #5B21B6);
  --ds-background-color-accent-soft: var(--color-global-accent-background-soft, #EDE9FE);
  --ds-background-color-accent-softest: var(--color-global-accent-background-softest, #F5F3FF);
  --ds-background-color-alert-soft: var(--color-global-alert-background-soft, #ffedd5);
  --ds-background-color-theme-primary: var(--color-theme-background-primary, #1633FF);
  --ds-background-color-theme-accent: var(--color-theme-background-accent, #1633ff);
  --ds-background-color-theme-hover: var(--color-theme-background-hover, #001F9C);
  --ds-background-color-theme-pressed: var(--color-theme-background-pressed, #001ce0);
  --ds-background-color-theme-high: var(--color-theme-background-high, #8a98ff);
  --ds-background-color-theme-mid: var(--color-theme-background-mid, #adb8ff);
  --ds-background-color-theme-low: var(--color-theme-background-low, #ccd2ff);
  --ds-background-color-theme-soft: var(--color-theme-background-soft, #f0f2ff);
  --ds-background-color-theme-softest: var(--color-theme-background-softest, #F6F8FF);
  --ds-background-color-theme-op50: var(--color-theme-background-op50, #1633ff0d);

  // border variables
  --ds-border-color-accent-default: var(--color-global-accent-border-default, #8B5CF6);
  --ds-border-color-accent-hover: var(--color-global-accent-border-hover, #7C3AED);
  --ds-border-color-accent-pressed: var(--color-global-accent-border-pressed, #6D28D9);
  --ds-border-color-info-default: var(--color-global-info-border-default, #1b55f5);
  --ds-border-color-info-hover: var(--color-global-info-border-hover, #1440e1);
  --ds-border-color-info-pressed: var(--color-global-info-border-pressed, #1734b6);
  --ds-border-color-info-op50: var(--color-global-info-border-op50, #1b55f50d);
  --ds-border-color-info-op200: var(--color-global-info-border-op200, #1b55f533);
  --ds-border-color-success-default: var(--color-global-success-border-default, #16a34a);
  --ds-border-color-success-hover: var(--color-global-success-border-hover, #16803c);
  --ds-border-color-success-pressed: var(--color-global-success-border-pressed, #166534);
  --ds-border-color-success-op50: var(--color-global-success-border-op50, #16a34a0d);
  --ds-border-color-success-op200: var(--color-global-success-border-op200, #16a34a33);
  --ds-border-color-error-default: var(--color-global-error-border-default, #dc2626);
  --ds-border-color-error-hover: var(--color-global-error-border-hover, #b91c1c);
  --ds-border-color-error-pressed: var(--color-global-error-border-pressed, #991b1b);
  --ds-border-color-error-op50: var(--color-global-error-border-op50, #dc26260d);
  --ds-border-color-error-op200: var(--color-global-error-border-op200, #dc262633);
  --ds-border-color-warning-default: var(--color-global-warning-border-default, #d97706);
  --ds-border-color-warning-hover: var(--color-global-warning-border-hover, #b45309);
  --ds-border-color-warning-pressed: var(--color-global-warning-border-pressed, #92400e);
  --ds-border-color-warning-op50: var(--color-global-warning-border-op50, #d977060d);
  --ds-border-color-warning-op200: var(--color-global-warning-border-op200, #d9770633);
  --ds-border-color-neutral-default: var(--color-global-neutral-border-default, #334155);
  --ds-border-color-neutral-high: var(--color-global-neutral-border-high, #cbd5e1);
  --ds-border-color-neutral-softest: var(--color-global-neutral-border-softest, #f1f5f9);
  --ds-border-color-neutral-contrast: var(--color-global-neutral-border-contrast, #ffffff);
  --ds-border-color-neutral-accent: var(--color-global-neutral-border-accent, #ffffff);
  --ds-border-color-neutral-op50: var(--color-global-neutral-border-op50, #3341550d);
  --ds-border-color-neutral-op200: var(--color-global-neutral-border-op200, #33415533);
  --ds-border-color-neutral-action-hover: var(--color-global-neutral-border-action-hover, #1e293b);
  --ds-border-color-neutral-action-pressed: var(--color-global-neutral-border-action-pressed, #0f172a);
  --ds-border-color-neutral-action-filled: var(--color-global-neutral-border-action-filled, #334155);
  --ds-border-color-neutral-action-disabled: var(--color-global-neutral-border-action-disabled, #cbd5e1);
  --ds-border-color-neutral-action-op50: var(--color-global-neutral-border-action-op50, #3341550D);
  --ds-border-color-neutral-action-op200: var(--color-global-neutral-border-action-op200, #33415533);
  --ds-border-color-tonal-default: var(--color-global-tonal-border-default, #E2E8F0);
  --ds-border-color-tonal-hover: var(--color-global-tonal-border-hover, #CBD5E1);
  --ds-border-color-tonal-pressed: var(--color-global-tonal-border-pressed, #ADBBCF);
  --ds-border-color-tonal-op50: var(--color-global-tonal-border-op50, #3341550D);
  --ds-border-color-theme-primary: var(--color-theme-border-primary, #1633ff);
  --ds-border-color-theme-accent: var(--color-theme-border-accent, #1633ff);
  --ds-border-color-theme-hover: var(--color-theme-border-hover, #001ce0);
  --ds-border-color-theme-pressed: var(--color-theme-border-pressed, #0015a8);
  --ds-border-color-theme-high: var(--color-theme-border-high, #001CE0);
  --ds-border-color-theme-mid: var(--color-theme-border-mid, #ADB8FF);
  --ds-border-color-theme-low: var(--color-theme-border-low, #CCD2FF);
  --ds-border-color-theme-soft: var(--color-theme-border-soft, #F0F2FF);
  --ds-border-color-theme-softest: var(--color-theme-border-softest, #F6F8FF);
  --ds-border-color-theme-op50: var(--color-theme-border-op50, #1633ff0d);

  // shadows variables
  --ds-shadows-soft: var(--color-shadows-soft, #33415533);
  --ds-shadows-medium: var(--color-shadows-medium, #33415566);
  --ds-shadows-strong: var(--color-shadows-strong, #33415599);
}
